In [5]:
import pandas as pd 
import pickle

In [6]:
input_df=pd.read_csv('sample.csv')

In [8]:
input_df

,transmission,mileage,release_year,engine_volume,year,brand_type,owners_count,car_name_tencoded,body_type_tencoded,fuel_type_tencoded,item_type_tencoded,car_condition_tencoded,color_tencoded,state_tencoded
0,0,80000.0,2020,1.5,2025,1,1,61907.75088,11904.237411,8860.562445,10750.559729,9176.874247,10404.078874,9908.805041

In [11]:
with open("target_encoder.pkl", "rb") as f:
    encoder= pickle.load(f)

In [13]:
encoder.mappings

{'car_name': car_name
 Aveo            9869.220390
 Camaro         35936.037405
 Captiva        18506.197880
 Captiva I      11601.927704
 Captiva II     13786.863929
 Captiva III    16861.705930
 Captiva IV     21750.326903
 Cobalt         12385.213823
 Cruze          13914.028106
 Damas           8263.441299
 Epica          10586.822660
 Equinox        31057.079813
 Gentra         13692.980711
 Labo            8615.732395
 Lacetti        11008.652969
 Malibu         22575.021278
 Malibu I       14963.107781
 Malibu II      25369.986849
 Matiz           5245.800031
 Monza          19509.533544
 Nexia           8817.374567
 Nexia I         8367.137931
 Nexia II        6923.678882
 Nexia III      10484.437524
 Not matched     9350.934754
 Onix           16297.908590
 Optra          12001.025231
 Orlando        15433.249793
 Seeker         26889.785441
 Spark           8099.157707
 Tacuma          7425.095066
 Tahoe          53439.227391
 Tico           17894.747127
 Tracker        18960.653565
 Tracker II     20478.926444
 TrailBlazer    28361.842701
 Trailblazer    26163.731975
 Traverse       42194.235128
 Trax           22909.425288
 dtype: float64,
 'Air_Conditioner': Air_Conditioner
 0    11387.110088
 1    12679.222671
 dtype: float64,
 'Security_System': Security_System
 0    11870.171024
 1    12561.214262
 dtype: float64,
 'Parking_Sensors': Parking_Sensors
 0    11411.348738
 1    14214.019686
 dtype: float64,
 'Customs_Cleared': Customs_Cleared
 0    11934.499255
 1    12618.888798
 dtype: float64,
 'Power_Windows': Power_Windows
 0    11600.117802
 1    12715.501185
 dtype: float64,
 'Power_Mirrors': Power_Mirrors
 0    11429.845879
 1    13050.927206
 dtype: float64,
 'body_type': body_type
 Convertible    32234.061303
 Coupe          25553.628900
 Hatchback       9948.948697
 Minivan        15433.249793
 Other           8426.870956
 Pickup          8615.732395
 SUV            20065.210644
 Sedan          12837.332489
 Wagon           7460.978179
 dtype: float64,
 'fuel_type': fuel_type
 diesel             12406.733885
 gasoline           13582.760582
 gasoline/petrol    10095.401518
 dtype: float64,
 'item_type': item_type
 business    13451.186611
 private     11894.707131
 dtype: float64,
 'owners_count': owners_count
 1    12660.513048
 2    10463.437527
 3     9154.957136
 dtype: float64,
 'car_condition': car_condition
 average          7363.860478
 excellent       12834.200855
 good            10678.850876
 needs repair     8406.687169
 dtype: float64,
 'color': color
 Asphalt    11609.031093
 Black      17965.606690
 Blue       10979.085471
 Brown      12333.943460
 Gray        9937.793729
 Other       9722.386474
 Silver      9494.326686
 White      11214.633092
 dtype: float64,
 'state': state
 Andijon           11740.454057
 Bukhara           11444.649065
 Ferghana          11590.394217
 Jizzakh           11702.192223
 Karakalpakstan    12144.142657
 Kashkadarya       11678.757460
 Khorezm           12300.591024
 Namangan          11779.922318
 Navoiy            12160.029293
 Samarkand         12067.927460
 Sirdaryo          11201.622885
 Surkhondaryo      12019.396031
 Tashkent          12689.154155
 Tashkent2         10983.525189
 dtype: float64}

In [12]:
import os

file_path = "CHEVROLET_DAEWOO_RAVON_LGBM_logtuned2.pkl"
if os.path.exists(file_path):
    if os.path.getsize(file_path) > 0:
        with open(file_path, "rb") as f:
            model = pickle.load(f)
    else:
        print("⚠ File exists but is empty!")
else:
    print("⚠ Model file not found!")

In [16]:
len(model.feature_name_)

20

In [15]:
len(input_df.columns )

20

In [17]:
print("Model expects:", model.feature_name_)
print("Input columns:", input_df.columns.tolist())

Model expects: ['transmission', 'mileage', 'release_year', 'engine_volume', 'brand_type', 'Air_Conditioner', 'Security_System', 'Parking_Sensors', 'Customs_Cleared', 'Power_Windows', 'Power_Mirrors', 'year', 'time_idx', 'month_sin', 'month_cos', 'car_name_tencoded', 'fuel_type_tencoded', 'item_type_tencoded', 'owners_count_tencoded', 'car_condition_tencoded', 'color_tencoded', 'body_type_tencoded', 'state_tencoded']
Input columns: ['transmission', 'mileage', 'release_year', 'engine_volume', 'brand_type', 'Air_Conditioner', 'Security_System', 'Parking_Sensors', 'Customs_Cleared', 'Power_Windows', 'Power_Mirrors', 'year', 'time_idx', 'month_sin', 'month_cos', 'car_name_tencoded', 'fuel_type_tencoded', 'item_type_tencoded', 'owners_count_tencoded', 'car_condition_tencoded', 'color_tencoded', 'body_type_tencoded', 'state_tencoded']

In [18]:
# reorder input_df columns to match model

In [19]:
import pandas as pd
pd.DataFrame({
    "feature": model.feature_name_,
    "importance": model.feature_importances_
}).sort_values("importance", ascending=False)

                   feature  importance
1                  mileage       14830
15       car_name_tencoded        7970
2             release_year        7854
22          state_tencoded        4689
3            engine_volume        4195
12                time_idx        3190
20          color_tencoded        3174
16      fuel_type_tencoded        2394
0             transmission        1816
18   owners_count_tencoded        1446
19  car_condition_tencoded        1169
5          Air_Conditioner        1067
21      body_type_tencoded        1045
8          Customs_Cleared         741
7          Parking_Sensors         680
14               month_cos         610
6          Security_System         608
9            Power_Windows         534
11                    year         524
13               month_sin         512
17      item_type_tencoded         449
10           Power_Mirrors         401
4               brand_type         102